
h1{
    text-align:center;
    font-size:70px;
    color:black;
}
p{
    text-align:center;
    padding:20px;
    color:black; 
    font-weight:900;
    font-family:cursive; 
}
p2{
    text-align:center;
    padding:10px;
    font-family:cursive;
    font-weight:900;
}
.Playerscore > div{
    display:flex;
    justify-content:center;
    font-family:cursive;
}
.Playerscore{
    display:flex;
    flex-flow:column;
    padding:10px;
    font-family:cursive;    
}
.userscore{
    font-size:20px;
    align-items:center;
    font-family:cursive;
}

.user{
    padding:20px; 
    font-family:cursive;
    font-size:30px;
    font-weight:900;  
}

.Computer-score > div{
    display:flex;
    justify-content:center;
    font-family:cursive;
}

.Computer-score{
    display:flex;
    flex-flow:column;
    padding:10px;
    font-family:cursive;    
}
.compscore{
    font-size:20px;
    align-items:center;
    font-family:cursive;
}

.comp{
    padding:10px; 
    font-family:'Roboto';
    font-size:30px;
    font-weight:900;  
}
.space{
    display:flex;
    width:50%;
    align-items:center;
    justify-content:center;
 
}
#message{
    text-align: center;
    font-size:50px;
}
.scoreboard{
    display:flex;
    flex-flow: row;
    justify-content:center;
}
body{
    background-color:grey;
}
.hands{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:30px;
    width:80%;
    height:300px;
    background-color:whitesmoke;
}
.hands > div{
    display:flex;
    align-items:center;
    justify-content:center;
}
.handpics{
    width:45%;
    height:45%; 
    -webkit-transform: scaleX(-1);
    transform: rotate(90deg) rotateX(180deg);
}
.handpic2{
    -webkit-transform: scaleX(-1);
    transform: rotate(90deg);
    width:45%;
    height:45%;
}
.footer{
    display:flex;
    flex-flow:row;
    position:fixed;
    bottom:0;
    left:0;
    align-items:center;
    justify-content:center;
    padding:10px;
}

form{
    padding:0px;
    font-size:50px;
    text-align:center;
    font-weight: 800;
    font-family:arial;
}

.contents{
    display:flex;
    flex-flow:column;
    align-items:center;
}
.choices{
    display:flex;
    align-items:center;
    justify-content: center;
    padding:30px;
}
.choices > div{
    display:flex;
    padding:15px;
}

.choices > div:hover{
    cursor:pointer;
    background:lightgray;
    border-radius: 30px;
}
button{
    padding:10px;
    width:100px;
    border-radius:50px;
    text-align:center;
    background-color:whitesmoke;
    border-color:grey;
    color:grey;
    font-weight:800;
    cursor:pointer;
    position:relative;
    transition: all 0.3 ease;
}
button:hover{
    cursor:pointer;
    background:orange;
}
.green-glow{
    border: 4px solid green;
    box-shadow: 0 0 10px greenyellow;
}

.red-glow{
    border:4px solid red;
}

@keyframes shakePlayer{
    0%{
        transform: rotate(90deg) translateX(0px);
    }
    15%{
        transform: rotate(90deg) translateX(-50px);
    }
    25%{
        transform: rotate(90deg) translateX(0px);
    }
    35%{
        transform: rotate(90deg) translateX(-50px);
    } 
    50%{
        transform: rotate(90deg) translateX(0px);
    }
    65%{
        transform: rotate(90deg) translateX(-50px);
    }
    75%{
        transform: rotate(90deg) translateX(0px);
    }
    100%{
        transform: rotate(90deg) translateX(-50px);
    }
}
@keyframes shakeComp{
    0%{
        transform: rotate(90deg) rotateX(180deg) translateX(0px);
    }
    15%{
        transform: rotate(90deg) rotateX(180deg) translateX(-50px);
    }
    25%{
        transform: rotate(90deg) rotateX(180deg) translateX(0px);
    }
    35%{
        transform: rotate(90deg) rotateX(180deg) translateX(-50px);
    } 
    50%{
        transform: rotate(90deg) rotateX(180deg) translateX(0px);
    }
    65%{
        transform: rotate(90deg) rotateX(180deg) translateX(-50px);
    }
    75%{
        transform: rotate(90deg) rotateX(180deg) translateX(0px);
    }
    100%{
        transform: rotate(90deg) rotateX(180deg) translateX(-50px);
    }
}
@keyframes reset{
    0%{
    transform: translateY(0px);
    transform: translateX(0px);
    }
}